# Copyright (c) 2025-2026 Nicholas K. Dionysopoulos
# SPDX-License-Identifier: MIT

# The fully qualified hostname the reverse proxy will respond to.
#
# Use a domain name which resolves to 127.0.0.1, e.g. via your hosts file.
#
# Do NOT use `localhost`; the proxy runs in Docker and things get weird.
DOMAIN_NAME=wonky.local.web
