# Support for the Forwarded header. See https://github.com/nginxinc/nginx-wiki/blob/master/source/start/topics/examples/forwarded.rst#how-to-use-it-in-nginx
map $remote_addr $proxy_forwarded_elem {
    # IPv4 addresses can be sent as-is
    ~^[0-9.]+$          "for=$remote_addr";

    # IPv6 addresses need to be bracketed and quoted
    ~^[0-9A-Fa-f:.]+$   "for=\"[$remote_addr]\"";

    # Unix domain socket names cannot be represented in RFC 7239 syntax
    default             "for=unknown";
}

map $http_forwarded $proxy_add_forwarded {
    # If the incoming Forwarded header is syntactically valid, append to it
    "~^(,[ \\t]*)*([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?(;([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?)*([ \\t]*,([ \\t]*([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?(;([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?)*)?)*$" "$http_forwarded, $proxy_forwarded_elem";

    # Otherwise, replace it
    default "$proxy_forwarded_elem";
}

server {
    listen 8942 ssl;
    server_name ${DOMAIN_NAME};

    ssl_certificate /etc/nginx/ssl/cert.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;

    location / {
        # PHP container is targeted internally
        proxy_pass http://php-container:80;

        # The following commented out line would have solved the hostname problem. If you
        # uncomment it you can't use Forwarded or X-Forwarded-Host; it will have no effect.
        #proxy_set_header Host $host:$server_port;

        # If you use the Forwarded header below you should comment out the other
        # X-Forwarded-* headers further below.
        #proxy_set_header Forwarded "$proxy_add_forwarded;proto=$scheme;host=$host";

        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # The following are alternatives to X-Forwarded-For

        # - Standard NginX reverse proxy configuration, see https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/#passing-request-headers
        #proxy_set_header X-Real-IP $remote_addr;

        # - Alternate CloudFlare header, see https://developers.cloudflare.com/fundamentals/reference/http-headers/#cf-connecting-ip
        #proxy_set_header CF-Connecting-IP $remote_addr;

        # - Alternate Sucuri header, see https://docs.sucuri.net/website-firewall/troubleshooting/same-ip-for-all-users/#php
        #proxy_set_header X-Sucuri-ClientIP $remote_addr;

        ## IMPORTANT NOTE. Both CloudFlare and Sucuri send the X-Forwarded-For header.
        ## The alternate headers are meant for simulating server environments which remove
        ## the X-Forwarded-For header.
    }
}